#app {
    color: #751027;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  html{
      scroll-behavior:smooth;
      overflow-x:hidden;
  }
  body{
    overflow-x: hidden;
 }
  * {
      margin:0;
      padding: 0;
      box-sizing: border-box;
  }
  
  .App{
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100vw;
  }
  
  .titulo_style{
    font-family: 'Source Sans Pro', sans-serif;
    /* font-family: 'Quicksand', sans-serif; */
    font-weight: 400;
    font-size: 2.5rem;
    padding: 20px 20px;
    margin-top: 30px;
    margin-bottom: 0;
    color: white;
  }
  
  .text_style{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #4A4A4A;
    padding: 30px 40px 30px 20px;
  }