#app {
    color: #751027;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  html{
      scroll-behavior:smooth;
      overflow-x:hidden;
  }
  
  * {
      margin:0;
      padding: 0;
      box-sizing: border-box;
  }
  
  .App{
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100vw;
  }
  
  .titulo_style{
    font-family: 'Abhaya Libre', serif;
    font-weight: 700;
    font-size: 3rem;
    padding: 50px 0;
  }
  
  .text_style{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #4A4A4A;
    padding: 30px 40px 30px 20px;
  }